.about {
  background-color: #f8f8f8;
  margin: auto;
  padding: 5rem 1rem 2rem 1rem;
  width: 100%;
}

.about h2 {
  text-align: center;
}

.about .container {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about .container img {
  width: 30rem;
  height: 30rem;
  /* margin: auto; */
  border-radius: 5rem;
}

.about .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.about button {
  margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
  .about .container {
    grid-template-columns: 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .about .container .col-2 {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 940px) {
  .about .container {
    width: 100%;
  }

  .about .container img {
    padding: 0rem;
    width: 90rem;
    height: 90rem;
  }

  .about .container .col-2 {
    padding: 0;
  }

  .about button {
    margin-bottom: 1rem;
  }
}
