.contact {
  margin: 3rem;
}

.contact .container h3 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.contact .container p {
  text-align: center;
  font-size: 2rem;
}

.contact .container .clickable-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}

.contact .container .clickable-links .individual-link h4 {
  color: black;
}
