.intro {
  background-color: var(--overlay);
  color: #fff;
  height: 115vh;
  width: 100%;
  position: relative;
}

.intro:before {
  content: "";
  background: url("./images/compressed-background-banner.jpeg") no-repeat
    center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.intro .content h1 {
  font-size: 5rem;
  font-weight: 700;
}

.intro .content h3 {
  font-size: 2.2rem;
}

.intro .content .content-1 {
  text-align: center;
}

.intro .content .content-2 {
  margin-top: 5%;
}

.intro .content .content-2 iframe {
  width: 50rem;
  height: 30rem;
}

@media screen and (max-width: 1240px) {
  .intro .content .content-2 iframe {
    width: 40rem;
    height: 25rem;
  }
}

@media screen and (max-width: 940px) {
  .intro .content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .content h1 {
    font-size: 2.6rem;
  }

  .hero .content h3 {
    font-size: 1.6rem;
  }

  .intro .content .content-2 iframe {
    width: 30rem;
    height: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    height: 90vh;
  }

  .intro .content .content-1 {
    margin-top: 4rem;
  }

  .intro .content .content-2 iframe {
    width: 21rem;
    height: 15rem;
    margin-top: 1rem;
  }
}
