.projects {
  margin: 3rem;
}

.projects h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}

.projects .container {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 80%;
  padding: 2rem 0rem;
  grid-gap: 20px;
}

.projects .container .card {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 1rem;
}

.projects .container .card img {
  width: 25rem;
  height: 20rem;
  text-align: left;
}

.projects .container .card h3 {
  padding: 1rem;
}

.projects .container .card .clickable-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

.projects .container .card .clickable-links img,
.projects .container .card .clickable-links svg {
  height: 4rem;
  width: 4rem;
}

.projects .container .card .container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.projects .container .card .container-2 .grid-item-2 {
  background: #ffffff;
  text-align: center;
}

.projects .container .card .container-2 .grid-item-2 h4 {
  background-color: rgba(128, 189, 242, 0.7);
  margin: 0.7rem;
  line-height: 2rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1300px) {
  .projects .container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 940px) {
  .projects {
    margin: 0;
  }

  .projects .container {
    grid-template-columns: auto;
    width: 100%;
  }

  .projects .card {
    max-width: 90%;
    margin: 1rem;
  }

  .projects .container .card .container-2 {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 440px) {
  .projects .container .card img {
    width: 15rem;
    height: 15rem;
  }
}
