.workexpmain {
  margin: 3rem;
}

.workexpmain .container {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  padding: 2rem 0rem;
  grid-gap: 20px;
  width: 90%;
}

.workexpmain .title {
  text-align: center;
}

.workexpmain .title h2 {
  padding-bottom: 5px;
}

@media screen and (max-width: 1300px) {
  .workexpmain .container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 940px) {
  .workexpmain {
    margin: 0;
  }

  .workexpmain .container {
    grid-template-columns: auto;
    width: 90%;
  }
}
